.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  color: whitesmoke;
  text-align: center;
  font-size: 52px;
  font-weight: 600;
}

.powered_by {
  text-align: center;
  color: whitesmoke;
  margin-top: 16px;
  font-size: 24px;
}

.tagline {
  text-align: center;
  color: whitesmoke;
  margin-top: 16px;
  font-size: 24px;
}

.fistbumpButton {
  background-color: #F4DB7D;
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  font-family: 'Archivo Narrow', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
}

.accent {
  text-decoration: underline;
  text-decoration-color: #F4DB7D;
  text-underline-position: under;
}

.history {
  text-align: left;
  color: whitesmoke;
  margin-top: 16px;
  font-size: 40px;
}

.buildspace {
  color: #9DAAF2;
}

ol {
  list-style: none;
  counter-reset: steps;
}
ol li {
  counter-increment: steps;
}
ol li::before {
  content: counter(steps);
  margin-right: 0.5rem;
  background: #FF6A3D;
  color: white;
  width: 1.2em;
  height: 1.2em;
  border-radius: 50%;
  display: inline-grid;
  place-items: center;
  line-height: 1.2em;
}
ol ol li::before {
  background: darkorchid;
}

